:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.current-poll-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.vote-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.poll {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

option {
    text-align: center;
}

.question {
    text-align: center;
}


